@import "tailwindcss";
:root{
    --background-color:white;
    --background-secondary-color:#eeeeee;
    --text-color:rgb(32, 30, 30);
  }



/* Apply global styles for body */
body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
.App{
    background-color: var(--background-color);
    color: var(--text-color);
}

[data-theme="dark"]{
    --background-color:#0a0a0a;
    --background-secondary-color:#161515b5;
    --text-color:white;
}


